<h3 class="text-dark">Résultat du contrôle</h3>

<p>Nombre de lignes dans le fichier : <b>{{ resultat.nb_lines }}</b></p>
<i class="fa fa-check-circle fa-fw text-success"></i><i>La structure du fichier semble cohérente avec le format attendu.</i>

<hr>
{% if mapping_configuration_type.routeAnalyseFichierBeforeIntegration is not null %}
  {% include "@ImanagingCheckFormat/Mapping/controle/analyse.html.twig" %}
{% else %}
  {% include "@ImanagingCheckFormat/Mapping/controle/integration.html.twig" %}
{% endif %}

