{% extends basePath %}

{% block body %}
  <div class="container">
    <div class="card">
      <h4 class="text-danger">Type de configuration de mapping introuvable : {{ code }}</h4>
    </div>
  </div>
{% endblock %}